@model NetBlogger.ViewModels.PostViewModel

@{
    ViewBag.Title = "Add new post";
}

<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Add new post</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Post.AuthorId)
                            @Html.DropDownListFor(model => model.Post.AuthorId, new SelectList(Model.Authors, "UserId", "FirstName"), "Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Post.AuthorId)
                        </div>
                
                        <div class="form-group">
                            @Html.LabelFor(model => model.Post.Title)
                            @Html.TextBoxFor(model => model.Post.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Post.Title)
                        </div>
                
                        <div class="form-group">
                            @Html.LabelFor(model => model.Post.Content)
                            @Html.TextAreaFor(model => model.Post.Content, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Post.Content)
                        </div>
                        
                        <div>
                            <input type="submit" value="Save" class="btn btn-primary" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/tinymce")
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            menubar: false,
            height: 340,
            plugins: [
		        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
		        "searchreplace wordcount visualblocks visualchars code fullscreen",
		        "insertdatetime media nonbreaking save table contextmenu directionality",
		        "emoticons template paste textcolor"
	        ],
            toolbar1: "undo redo | styleselect | fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | forecolor backcolor emoticons | bullist numlist outdent indent",
            toolbar2: "link image media | print preview fullscreen",
            image_advtab: true
        });

        window.onbeforeunload = function () {
            if (tinyMCE.activeEditor.isDirty()) {
                return 'The changes you made will be lost if you navigate away from this page.';
            }
        };
    </script>
}
