@model NetBlogger.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Slug)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Slug)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MetaKeywords)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MetaKeywords)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MetaDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MetaDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
